/***
CUSTOMIZE THE THEME
 */
/***** HEADER AND MENU SECTION - BEGIN  **/
.navbar-header {
    float: none;
    width: 0;
}
.page .navbar-custom{
    background-color: #f4f0ea !important;
}
.navbar-custom {
    background: #f4f0ea !important;
    color: rgba(0,0,0,.73);
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 20px 0;
}
.header-menu-wrap .left-menu-bar {
    float:left;width: 20%;
}
.header-menu-wrap .right-menu-bar {
    float:right;width: 20%;

}
.header-menu-wrap .left-menu-bar,
.header-menu-wrap .right-menu-bar
{
    margin-top: 10px;
}
.shop_isle_header_title .site-title a,
.shop_isle_header_title h1 a {
    display: block;
    color: rgba(0,0,0,.73);
    font-size: 30px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 4px;
}
.navbar-custom .nav li>a {
    position: relative;
    color: rgba(0,0,0,.73);
}
.navbar-custom .nav .open>a,
.navbar-custom .nav .open>a:focus,
.navbar-custom .nav .open>a:hover,
.navbar-custom .nav>li>a:focus,
.navbar-custom .nav>li>a:hover,
.navbar-custom .sub-menu>li>a:focus,
.navbar-custom .sub-menu>li>a:hover {
    color: rgba(0,0,0,.73);
    opacity: 0.8;
}
.shop_isle_header_title .site-description a, .shop_isle_header_title h2 a {
    display: block;
    color: rgba(0,0,0,.73);
    font-size: 12px;
    line-height: 16px;
}
.shop_isle_header_title {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}
.shop-isle-header-title-inner {
    text-align: center;
    float:none;
}

.header-search-button {
    color: rgba(0,0,0,.73) !important;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.header-container .navbar-cart {
    display: block !important;
    width: auto;
    padding: 0;
    margin: 0;
}
.navbar-cart-inner .icon-basket {
    color: rgba(0,0,0,.73) !important;
    font-size: 18px !important;
}
.navbar-cart .navbar-cart-inner .cart-item-number {
    position: absolute;
    top: 28px;
    left: 14px;
    right: initial;
    border-radius: 8px;
    background: #42413f;
    color: #fff;
    height: 13px;
    min-width: 11px;
}
.navbar-cart-inner .add_to_cart_button:not(.product_type_variable):before,
.navbar-cart-inner .icon-basket:before {
    top: 18px !important;
}
/*menu mobile */
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color:  transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-custom .navbar-toggle .icon-bar {
    background:  rgba(0,0,0,.73) !important;
}
@media (min-width: 768px) {
    .header-menu-wrap .collapse.mobile-menu-bar#custom-collapse {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        background: #f4f0ea !important;
        margin-top: 0;
    }
    .shop_isle_header_title {
        padding-left: 0;
        margin-left: 0;
    }

    .navbar-cart-inner .add_to_cart_button:not(.product_type_variable):before,
    .navbar-cart-inner .icon-basket:before {
        top:0 !important;
    }
    .navbar-cart .navbar-cart-inner .cart-item-number {
        top: 10px !important;
    }
}

/***** HEADER AND MENU SECTION - END **/

.home-section .hero-slider .slides .flex-active-slide .caption-content {
    text-align: left;
    padding-left: 20px;
}

.home-section .hero-slider .flex-direction-nav li .flex-disabled {
    cursor: default;
    display: none;
}