/***
CUSTOMIZE THE THEME
 */
/***** HEADER AND MENU SECTION - BEGIN  **/
.navbar-header {
    float: none;
    width: 0;
}

body.home .navbar-custom {
    background: #f4f0ea !important;
    color: rgba(0,0,0,.73);
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 500;
}

.shop_isle_header_title .site-title a,
.shop_isle_header_title h1 a {
    display: block;
    color: rgba(0,0,0,.73);
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 4px;
}
.navbar-custom .nav li>a {
    position: relative;
    color: rgba(0,0,0,.73);
}
.navbar-custom .nav .open>a,
.navbar-custom .nav .open>a:focus,
.navbar-custom .nav .open>a:hover,
.navbar-custom .nav>li>a:focus,
.navbar-custom .nav>li>a:hover,
.navbar-custom .sub-menu>li>a:focus,
.navbar-custom .sub-menu>li>a:hover {
    color: rgba(0,0,0,.73);
    opacity: 0.8;
}
.shop_isle_header_title .site-description a, .shop_isle_header_title h2 a {
    display: block;
    color: rgba(0,0,0,.73);
    font-size: 12px;
    line-height: 16px;
}
.shop_isle_header_title {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding-left: 160px;
}
.shop-isle-header-title-inner {
    text-align: center;
    float:none;
}

.header-search-button {
    color: rgba(0,0,0,.73) !important;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.header-container .navbar-cart {
    display: block !important;
    width: auto;
    padding: 0;
    margin: 0;
}
.navbar-cart-inner .icon-basket {
    color: rgba(0,0,0,.73) !important;
    font-size: 18px !important;
}
.navbar-cart .navbar-cart-inner .cart-item-number {
    position: absolute;
    top: 24px;
    right: initial;
    left: 13px;
    min-width: 16px;
    border-radius: 3px;
    background: #faf8f6;

}
.add_to_cart_button:not(.product_type_variable):before,
.icon-basket:before,
.single-product div.product form.cart .button:before {
    top: 12px !important;
}

/***** HEADER AND MENU SECTION - END **/
